html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
} 
 
 main  {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
}

.result {
    background-color: rgba(95, 191, 63, 0.14);
    display: flex;
    flex-direction: column;
    align-items: start;
    
    .result-table {
        background-color: white;
        width: 80%;
        margin: 3%;
        align-self: center;
    }
}