$font: 'Overpass';
$color: white;

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:#DCC7AA;
    font-family: $font;
    transition: 0.3s;
}

header {
    text-align: center;
    margin: 3% 5% 1% 5%;
    padding: 1%;
    font-size: large;
    background-color: #6B7A8F;
    color: $color;
} 
 
 main  {
    margin: 0 auto;
    text-align: center;
}

input {
    font-family: $font;
    border: none;
    background-color: #F7882F;
    padding: 1%;
    margin-bottom: 1%;
    opacity: 0.6;

    &:hover {
        opacity: 1;
        color: $color;
    }
}

textarea {
    font-family: $font;
    border: none;
    background-color: $color;
    padding: 1%;
    margin: 1%;
}

.result {
    color: $color;
    background-color: #6B7A8F;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5%;
    margin-left: 5%;
    margin-right: 5%;

    .result-text, .result-table {
        color: black;
        text-align: justify;
        margin: 1.5%;
        background-color:$color;
        padding: 1.5%;
    }
}

.hidden {
    display: none;

}